<!-- basic tags  -->
<html>
  <head>
    <title>home page</title>
  </head>

  <body style="background-color: pink">
    <h1 style="background-color: yellow">hello</h1>
    <p style="text-wrap: balance">
      <b>{{xyz}} </b>is simply dummy
      <strong> of the printing and typesetting industry.</strong>
      <i>Lorem Ipsum </i>has been the
      <mark>industry's standard dummy text</mark> ever since the
      1500<sub>s</sub>, when an unknown printer took a<small>
        galley of type</small
      >
      and scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the<del> 1960</del
      ><ins>1949</ins><sup>s</sup> with the release of Letraset sheets
      containing {{xyz}} passages,
      <em> more recently with desktop publishing</em>
      software like Aldus PageMaker including versions of {{xyz}}.
    </p>
  </body>
</html>
