<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<h2>REGISTRATION PAGE</h2>
<form action="" method="post">
    {% csrf_token %}
    <label>USERNAME </label><input type="text" name="username" placeholder="username"><br>
    <label>First Name </label><input type="text" name="firstname" placeholder="first name"><br>
    <label>Last Name </label><input type="text" name="lastname" placeholder="last name"><br>
    <label>EMAIL ID </label><input type="email" name="email" placeholder="email id"><br>
    <label>PASSWORD </label><input type="password" name="pass1" placeholder="password"><br>
    <label>CONFIRM PASSWORD</label><input type="password" name="pass2" placeholder="re-enter password"><br>
    <input type="submit">
</form>
{% for i in messages %}
{{i}}
{% endfor %}
</body>
</html>